<?xml version='1.0' encoding='UTF-8'?>
<plugin id="com.oxygenxml.pdf2.ug">
    <require plugin="org.dita.pdf2"/>
    <require plugin="org.dita.pdf2.fop"/>
    
    <feature extension="dita.conductor.pdf2.param" file="pdf2ExtensionParameters.xml"/>        
    <feature extension="dita.conductor.lib.import" file="lib/xml-apis-ext.jar"/>
    
    <feature extension="dita.conductor.transtype.check" value="oxy-ug-pdf"/>
    <feature extension="dita.transtype.print" value="oxy-ug-pdf"/>
    <feature extension="dita.conductor.target.relative" file="integrator.xml"/>
    
    <transtype name="oxy-ug-pdf" extends="pdf2" desc="PDF2 customization for oXygen user manual">
        <param name="pdf2.ug.chapter.header" 
            desc="Select the layout of the top level DITA map components like: 
            chapter, appendix, notices. The possible values are:\n
            * title-and-chapter - Title aligned in the left part and chapter number in the right\n
            * dita-ot-default - The default DITA-OT rendering"
            type="enum">
            <val default="true">title-and-chapter</val>
            <val>dita-ot-default</val>
        </param>
    </transtype>
</plugin>