<?xml version='1.0' encoding='UTF-8'?>
<plugin id="com.oxygenxml.pdf2.ug">
    <require plugin="org.dita.pdf2"/>
    <require plugin="org.dita.pdf2.fop"/>
    <!-- Add additional parameters -->
    <feature extension="dita.conductor.pdf2.param" file="pdf2ExtensionParameters.xml"/> 
    <!-- Additional library to load SVG files -->
    <feature extension="dita.conductor.lib.import" file="lib/xml-apis-ext.jar"/>
    
    <feature extension="dita.conductor.transtype.check" value="oxy-ug-pdf"/>
    <feature extension="dita.transtype.print" value="oxy-ug-pdf"/>
    <feature extension="dita.conductor.target.relative" file="integrator.xml"/>
    
    <transtype name="oxy-ug-pdf" extends="pdf2" desc="PDF2 customization for oXygen user manual">
        <param name="pdf2.ug.chapter.header" 
            desc="Select the layout of the top level DITA map components like: 
            chapter, appendix, notices. The possible values are:\n
            * title-and-chapter-number - Title aligned in the left part and chapter number in the right\n
            * dita-ot-default - The default DITA-OT rendering"
            type="enum">
            <val default="true">title-and-chapter-number</val>
            <val>dita-ot-default</val>
        </param>
        
        <!-- 
        Select the layout of the chapter's MINITOC.
        
        The possible values are:
        * block - The blocks with chapter links and chapter summary will be layout in two separate blocks, 
          one after another.
        * dita-ot-default - The default DITA-OT rendering using two columns layout. 
          The first column presents links to the chapter's topics and the second one  presents a summary of the chapter.
    -->
        <param name="pdf2.ug.chapter.minitoc.layout"
            descr="Select the layout of the chapter's minitoc.\n
            
            The possible values are:\n
            * block - The blocks with chapter links and chapter descriptions will be layout in two separate blocks, 
            one after other.\n
            * dita-ot-default - The default DITA-OT rendering with a table layout with one row with two cells. 
            The first cell presents links to the chapter's topics and the second cell presents a short description of the chapter."
            type="enum">
            <val default="true">block</val>
            <val>dita-ot-default</val>
        </param>
    </transtype>
</plugin>